/**
 * This is the stylesheet for all design related changes in the app
 * 
 * @author: Claudio Marangon, Ljubisa Markovic
 * 
 */

/* LABELS */
.discreet {
    -fx-text-fill:#a8a8a8;
}
.error {
    -fx-border-color:#ff0000;
}

/* BUTTONS */
.button {
    -fx-opacity:0.5;
}
.button:hover {
    -fx-opacity:1;
}

.sortingDirectionButton,
.sortingDirectionButton:hover {
    -fx-font-size:12px;
}

/* IMAGES */
.imageList {
    -fx-spacing:5px;
}