/**
 * This is the stylesheet for all design related changes in the app
 * 
 * @author: Claudio Marangon, Ljubisa Markovic
 * 
 */

/* LABELS */
.discreet {
    -fx-text-fill:#a8a8a8;
}
.error {
    -fx-border-color:#ff0000;
}
.hidden {
    -fx-opacity:0;
}
.clickable {
    -fx-cursor:hand;
}

.sortingDirectionButton,
.sortingDirectionButton:hover {
    -fx-font-size:12px;
}

/* IMAGES */
.imageList {
    -fx-spacing:5px;
}

.blurBG {
    -fx-background-color:rgba(0,0,0,0.5);
}

/* OTHERS */
.borderless {
    -fx-border-width:0;
    -fx-background-color:transparent;
}
.backgroundless {
    -fx-background-color:transparent;
}